header{
    text-align: center;
}
body{
    background-color: rgb(20, 20, 20);
    margin:auto;
}

h1{
    color: white;
    font-size: 3.5rem;
    
}
#corazonGay{
    width: 5%;
    height: 5%;
    float: right;
}
#container1{
    width: 100%;
    margin:auto;
    background-color: rgb(49, 49, 49);
    overflow: hidden;
    
}
#container2{    
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
 

}
#container3{
    
    width: 60%;
    font-size: 2rem;
    color: white;
    float: right;
}
#container4{
    width: 100%;
}
.main{
    width: 100%;
    margin:auto;
}

video{
    width: 100%;
}
#video{
    font-size: 3rem;
}

#image1{
  

    width: 90%;
  }